# Python / Django
*.pyc
__pycache__/
db.sqlite3
env/
venv/
*.log
media/
*.sqlite3
*.mo
*.pot

# Node / Vue
node_modules/
npm-debug.log*
yarn-error.log*
*.local

# Django templates with built frontend assets
templates/frontend/assets/
!templates/frontend/index.html
!templates/frontend/favicon.ico

# Flutter / Dart
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml

# Environment files
.env
.env.*
