<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RiderApp</title>
    <script type="module" crossorigin src="/assets/index-DWgMkK28.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/vendor-CVqOb0XR.js">
    <link rel="modulepreload" crossorigin href="/assets/ui-D_DTyfBr.js">
    <link rel="stylesheet" crossorigin href="/assets/index-Dkb7M33C.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
