.card[data-v-abab7fd7]{box-shadow:0 .125rem .25rem #00000013}.modal.show[data-v-abab7fd7]{background-color:#00000080}.badge[data-v-abab7fd7]{font-size:.75em}.btn-sm[data-v-abab7fd7]{padding:.25rem .5rem;font-size:.875rem}
